<!-- prettier-ignore -->
{{ $tachyons := resources.Get "css/vendor/tachyons.min.css" }}
{{ $customCss := resources.Get "css/style.css"}}


{{ $style := slice $tachyons $customCss | resources.Concat "css/style.css" | resources.Minify }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

<style>
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 2px;
  }

  th {
    background-color: #f2f2f2;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  
</style>

{{ template "_internal/google_analytics.html" . }}
