<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <link
      href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ .Site.Title }}"
    />

    {{ partial "head_includes.html" . }}
  </head>
  <body
    lang="{{ .Site.LanguageCode }}"
    class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  >
    <section id="main">
      <div>
        <div class="flex flex-wrap-reverse items-center-ns"> 
          <div class="mr5-ns">
            <h1 id="title" class="f2">
              Stephen Siegert
            </h1>
            <p class="f5">
              Developer Advocate at <a href="https://neon.tech/" class="black b no-underline">Neon - Serverless Postgres</a> 🐘.
            </p>
         
            <p class="measure lh-copy">
              Passionate about building impactful applications and simple solutions to solve complex problems.
            </p>
          </div>
          <div class="">
            <img
                src="{{ "images/avatar.jpeg" | absURL}}"
                class="br-100 h4 w4 dib" alt="avatar" />
          </div>
           
        </div>
        
        <ul class="list pl0 pt3">
          <!-- pages -->
          <!-- prettier-ignore -->
          <li class="b mv3">
            <a class="b pa1 black no-underline" href="/post">Read all posts</a>
          </li>
          <li class="b mv3">
            <a class="b pa1 black no-underline" href="/about">About me</a>
          </li>
          <!-- <li class="b mv3">
            <a class="f4 b pa1 black" href=""></a>
          </li> -->
          <!-- prettier-ignore -->
        
        </ul>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
